@inherits LayoutComponentBase

<PageTitle>Chatbots Admin</PageTitle>

<div class="layout">
    <NavMenu />
    <main>
        <div class="content">
            @Body
        </div>
    </main>
</div>
