<nav class="sidebar">
    <h2>Chatbots</h2>
    <ul>
        <li><NavLink href="/" Match="NavLinkMatch.All">Chatbot List</NavLink></li>
        <li><NavLink href="/chatbots/new">Create Chatbot</NavLink></li>
    </ul>
</nav>
